.bodyAccueil {
	margin: 0px;
	/*fond*/
	background-color: grey;
	background-image: url(images/train3.jpg);
	background-position: center top;
	background-height: 100%;
	background-repeat: no-repeat;
	/*texte*/
	font-family: Arial;
}
.bodyAccueil h1, h3{
	color: white;
	text-align: center;
	margin: 0px;
	padding: 5px;
}

#headerAccueil{
	background-color: rgb(25, 51, 102);
}

#pageAccueilRecherche {
	display: block;
}
#pageAccueilBillet {
	display: none;
	}


/**FORMULAIRE**/
.formulaire_trajet, .formulaire_billet{
	/*fond*/
	background-color: rgba(255,255,255,0.9);
	/*bordure*/
	border-radius : 6px;
	/*marges*/
	margin-top: 10%;	
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 50%;
	/*taille*/
	min-width: 300px;
	max-width: 300px;
	/*texte*/
	text-align: left;
}

.formulaire_trajet h1, .formulaire_billet h1{
	font-size: 150%;
	padding: 10px 15px 10px 15px;
	background: rgb(42,136,173);
	border-radius: 5px 5px 0 0;
	margin: 0;
	text-align: left;
}

.champsForm{
	padding: 15px;
}
.champsForm input[class=trajet]{
	/*fond*/
	background-image: url(images/recherche.png);
	background-size: 12%;
	background-repeat: no-repeat;
	
	padding: 5px;
	padding-left: 25px;
}
.champsForm input[class=date]{
	/*fond*/
	background-image: url(images/calendrier.png);
	background-size: 12%;
	background-repeat: no-repeat;
	
	padding: 5px;
	padding-left: 25px;
}

.formulaire_trajet input[type=button], .formulaire_billet input[type=button]{
	margin-right: 5%;
	margin-left: 60%;
	margin-bottom:5%;
	border-radius: 2px;
	font: Bold 15px Arial;
	background: rgb(42,136,173);
	color: white;
	border: none;
    padding: 5px 15px 5px 15px;
}
