@CHARSET "UTF-8";

html,body{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

/**************** Formulaire inscription **********************/

.formulaire_connection_inscription .button{
	margin-bottom: 10px;
}

.formulaire_connection_inscription .button:hover{
	zoom:110%;
}

/**************** Formulaire connection **********************/

.formulaire_connection_inscription{
	width:15%;
	margin-top:13%;
	margin-left: auto;
	margin-right: auto;
	border:solid 1px black;
	min-width:300px;
}
.formulaire_connection_inscription form{
	text-align: center;
	margin-top:15%;
}
.formulaire_connection_inscription label{
	font-size: large;
}
.formulaire_connection_inscription input{
	font-size: 120%;
}
.formulaire_connection_inscription a{
	font-size:small;
	text-decoration: none;
	color: blue;
	display: block;
	margin-right: 0px;
	margin-left: auto;
	width:30%;
}
.formulaire_connection_inscription a:hover{
	color:red;
}
.champ{
	margin-bottom: 10%
}

/********************* Page accueil ************************/

.backGroundHeader{
	background-color: black;
	background-image: url("images/train6.jpg");
	background-repeat: no-repeat;
	height: 800px;
	background-position: center bottom;
}

.menuAccueilHeader{
	background-color: rgb(25, 51, 102);
	overflow: hidden;
}

.containerMenu{
	max-width: 1024px;
	margin: auto;
}

.lienMenuAccueil{
	float: right;
	padding: 10px;
}

.lienMenuAccueil a{
	color: white;
	text-decoration: none;
	margin: 0 10px;
}
.lienMenuAccueil button{
	background-color: rgb(42,136,173);
	border: none;
	border-radius: 4px;
	padding: 5px;
	color: white;
}

.logoMenuAccueil{
	float: left;
	color: white;
}

.logoMenuAccueil img{
	width: 100px;
	padding: 10px;
}

.containerHeader{
	max-width: 1100px;
	width: 90%;
	margin: auto;
	text-align: center;
}

.pageAccueilRecherche{
	padding: 10px;
}

.pageAccueilRecherche h1 {
	color: white;
	text-shadow: 5px 5px 5px black;
	margin: 0;
	padding: 10px;
}

.pageAccueilRecherche h3 {
	color: rgb(230, 230, 230);
	text-shadow: 2px 2px 2px black;
	margin: 0;
	padding: 10px;
}

.formulaire_trajet, #choixRep{
	/*fond*/
	background-color: rgba(255,255,255,0.9);
	/*bordure*/
	border-radius : 5px;
	/*marges*/
	margin-top: 15%;
	/*texte*/
	text-align: left;
}

.formulaire_trajet{
	float: left;
	/*taille*/
	min-width: 500px;
	max-width:500px;
}

.formulaire_trajet h1, #choixRep h1{
	color: white;
	text-shadow: 5px 5px 5px black;
	font-size: 150%;
	padding : 3% 5% 3% 5%;
	background: rgb(42,136,173);
	border-radius: 5px 5px 0 0;
	margin: 0;

}

.champsForm{
	padding: 15px;
}

.champsForm input[id=trajet1], .champsForm input[id=trajet2]{
	/*fond*/
	background-image: url(images/recherche.png);
	background-size: 25px;
	background-repeat: no-repeat;

	margin-top:2%;
	padding: 5px;
	padding-left: 25px;
	width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulaire_trajet input[type=button]{
	margin-bottom:15px;
	margin-right: 15px;
	float:right;
	border-radius: 2px;
	font: Bold 15px Arial;
	background: rgb(42,136,173);
	color: white;
	border: none;
    padding: 5px 15px;
}

.control-label{
	width: 30%;
	padding:0;
	margin-left: 5%;
	margin-top: 1.5%;
}

.col-md-5{
	width: 60%;
	padding:0;
	margin-bottom: 5%;
}

#choixRep{
	float: right;
	max-height: 315px;
	min-height: 315px;
}

#choixRep ul{
	padding-left: 0%;
	margin: 0px;
	overflow: auto;
}

#choixRep li{
	list-style: none;
	padding-top: 5%;
	padding-bottom: 5%;
}

#choixRep a{
	margin-left: 5%;
}

#choixRep a:hover{
	cursor:pointer;
}

#choixRep li:hover{
	zoom:115%;
	background-color: #CECECE;
}

#liste{
	/*taille*/
	min-width: 300px;
	max-width:300px;
	max-height: 260px;
	min-height: 260px;
	overflow: scroll;
}

/********************* Page Search ************************/

.souligner_gras{
	font-weight: bold;
	text-decoration: underline;
}

.trajet_clic{
	width: 60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3%;
	border:5px black solid;
	border-radius: 20px;
	background-color: red;
}

.trajet_clic h2{
	margin-left: 2%;
}

.trajet_clic p{
	margin-left: 5%;
}

.trajet_clic:hover{
	background-color: #F2F2F2;
	cursor: pointer;
}

.choix_trajet h1{
	text-align: center;
	text-decoration: underline;
}

.buy{
	margin-left: 92%;
	margin-right: 0px;
	text-align: right;
}

.buy img{
	width: 6%;
}
