/**************** Formulaire connection **********************/

.formulaire_connection_inscription{
	width:15%;
	margin-top:13%;
	margin-left: auto;
	margin-right: auto;
	border:solid 1px black;
	min-width:300px;
}
.formulaire_connection_inscription form{
	text-align: center;
	margin-top:15%;
}
.formulaire_connection_inscription label{
	font-size: large;
}
.formulaire_connection_inscription input{
	font-size: 120%;
}
.formulaire_connection_inscription a{
	font-size:small;
	text-decoration: none;
	color: blue;
	display: block;
	margin-right: 0px;
	margin-left: auto;
	width:30%;
}
.formulaire_connection_inscription a:hover{
	color:red;
}
.champ{
	margin-bottom: 10%
}

/**************** Formulaire inscription **********************/

.formulaire_connection_inscription .button{
	margin-bottom: 10px;
}

.formulaire_connection_inscription .button:hover{
	zoom:110%;
}

.formulaire_trajet{
	background-color: white;
	border: solid 2px;
	margin-top: 10%;	
	margin-bottom: 5%;
	margin-left: 20%;
	margin-right: 50%;
	width: 50%;
	min-width: 300px;
	max-width:300px;
	text-align: left;
}

.divLabelForm{
	margin-top: 5%;
	margin-left: 5%;
	font-size: large;
}

.divChampsForm{
	margin-top: 5%;
	margin-left: 5%;
}

.divBValider{
	text-align: right;
	margin-right: 5%;
	margin-bottom:5%;
}

/**************** iciiiiiiiiiiiiiii **********************/
body {
	font-family: sans-serif;
	text-align: center;
}

h1 {
	color: white;
}

h3 {
	color: white;
}

table {
	border-collapse: collapse;
	width: 100%;
	
}
td{
	border:solid 1px white;
	border-collapse: collapse;
}
